<div id="faqContainer">
  <h1>How it Works</h1>
  <p>When you submit a username, it is added to our database. Every 15 minutes or so we run our neural network, which
  has been trained on over 500,000 Instagram usernames and follower counts, on whichever username you enter. This allows us to generate a "score"
  for each username.</p>
  <p>While no system like this can be completely accurate, we have experienced a encouraging results
    in attempting to estimate Instagram followers. We hope it works well for you!</p>
  <p id="signature">Sincerely, Ian Andersen</p>
</div>
